.tab-title {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 7px;
}

.tab-icon {
  display: flex;
}

@media (width < 481px) {
  .tab-title {
    justify-content: space-between;
  }
}